/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.imgContainer {
  width: 500px; height: auto;
  position: relative;
}

.imgContainer img {
  top: 15px;
  width: 100%;
  display: block;
}